#main{
    background-color: coral;
    width: 400px;
    float: left;
}
header{
    height: 100px;
    background-color: deepskyblue;
}
#container{
    background-color: coral;
    /* overflow: hidden; */
}

aside{
    min-height: 200px;
    width: 200px;
    float: left;
    background-color: blueviolet;
}