div{
    width: 200px;
    height: 140px;
    border: solid 2px;
}
#container{
    margin: 0 auto;
    width: 200px;
    height: 800px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aliceblue;
}

#profe{
    background-color: blue;
    width: 100px;
    height: 80px;
    position: relative;
    /* margin-top:100px; */
}

#uno{
    background-color: antiquewhite;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: -12px;
    transform: rotate (0.5turn);
}

#dos{
    background-color: brown;
    /* margin-left: auto;
    margin-right: auto; */
    z-index: 1;
    /* visibility: hidden; */
}

#tres{
    background-color: aqua;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 80px;
    transform: rotate (0.5turn);
}